chromadb
sentence_transformers
beautifulsoup4
pdfplumber
fastapi==0.123.0
uvicorn==0.38.0
python-multipart==0.0.20
pypdf==6.4.0
python-docx==1.2.0
python-pptx==1.0.2
pydantic==2.12.5
starlette==0.50.0
pymilvus==2.6.4
txtai==9.2.0
numpy==2.2.6
requests==2.32.4