@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-dark: #000000;
  --space-light: #111111;
  --space-accent: #ffffff;
  --space-text: #ededed;
  --space-border: #333333;
}

body {
  @apply bg-space-dark text-space-text overflow-hidden;
  background-color: #000000;
}

/* 커스텀 스크롤바 (선택사항) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}
